<nav class="navbar navbar-expand-lg navbar-absolute bg-info fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Mouseclicksys</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-bar navbar-kebab"></span>
			<span class="navbar-toggler-bar navbar-kebab"></span>
			<span class="navbar-toggler-bar navbar-kebab"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#home" ng-click="mainsection = true;section2 = false; section3 = false; section4 = false">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#valuationReport">Valuation Report</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#aumReport">AUM Report</a>
				</li>
<!-- 				<li class="nav-item">
					<a class="nav-link" href="#ltpReport">LTP Report</a>
				</li> -->
			</ul>
		</div>

		<div class="collapse navbar-collapse justify-content-end" id="navigation">
			<form>
				<div class="input-group no-border">
					<input type="text" value="" class="form-control" placeholder="Search...">
					<div class="input-group-append">
						<div class="input-group-text">
							<i class="now-ui-icons ui-1_zoom-bold"></i>
						</div>
					</div>
				</div>
			</form>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/" target="_self">
						<i class="now-ui-icons users_single-02"></i> Logout
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div id="section1">
	<div class="card" ng-init="getFamilyNames();getUCC()">
		<div class="card-body">
			<div class="row">
				<div class="col-md-1">
					<!-- <span>Select Department</span> -->
					<select class="form-ctrl">
						<option>--Select Department--</option>
						<option>A</option>
						<option>B</option>
					</select>
				</div>
				<div class="col-md-2">
					<!-- <span>Select Department</span> -->
					<select class="form-ctrl" ng-model='aum.type'>
						<option>--Select Report Type--</option>
						<option value="amc">AMCWise</option>
						<option value="scheme">SchemeWise</option>
						<option value="category">CategoryWise</option>
					</select>
				</div>
				<div class="col-md-1">
					<!-- <span>Select UCC</span> -->
					<select id="uccforaum" class="form-ctrl" ng-model="aum.ucc" ng-options="UCC.UCC for UCC in uccs | orderBy:'UCC'"></select>
				</div>
				<div class="col-md-1">
					<!-- <span>Select Family</span> -->
					<select id="familynameforaum" class="form-ctrl" ng-model="aum.family" ng-options="family for family in familynames | orderBy:'family'">
					</select>
				</div>
				<div class="col-md-2">
					<!-- <span>Select start Date</span> -->
					<div class="input-group" moment-picker="aum.sdate" format="YYYY-MM-DD">
						<input class="form-ctrl" placeholder="Select start date" ng-model="aum.sdate" ng-model-options="{ updateOn: 'blur' }">
					</div>
				</div>
				<div class="col-md-2">
					<!-- <span>Select end Date</span> -->
					<div class="input-group" moment-picker="aum.edate" format="YYYY-MM-DD">
						<input class="form-ctrl" placeholder="Select end date" ng-model="aum.edate" ng-model-options="{ updateOn: 'blur' }">
					</div>
				</div>
				<div class="col-md-2">
					<button class="btn btn-success btn-sm" ng-click="generateAUMReport()">Show</button>
					<a href="#aumReport" target="_self" class="btn btn-success btn-sm">Clear</a>
				</div>
			</div>
			<!-- <hr> -->
	<!-- 	</div>
	</div>

	<div class="card">
		<div class="card-body"> -->
				<!-- <div class="row">
					<div class="col-md-2" ng-click="section2 = true;section3 = false">
						<div>
						  Cheque Amt : <strong> {{reptamt2}}</strong> 
						</div>
					</div>
					<div class="col-md-2" ng-click="section2 = false;section3 = true; pnl = false">
						<div>
						  Invested Amt : <strong> {{reptamt1}}</strong> 
						</div>
					</div>
					<div class="col-md-2" ng-click="section2 = false;section3 = true;pnl = true">
						<div>
						  Valuation : <strong> {{reptpnl1}}</strong> 
						</div>
					</div>
				</div> -->
		</div>
	</div>

		<!-- <div class="row">
			<div class="col-md-7">
				<h5 class="title">Valuation Report</h5>
			</div>
			<div class="col-md-5" align="center">
				<div class="btn-group">
					<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Options
					</button>
					<div class="dropdown-menu">
					</div>
				</div>
			</div>
		</div> -->
</div>
<!-- 
{{headaum}} {{aumrep}} -->
<div id="section2">
			<table style="margin-top:30px" st-set-filter="customFilter" st-table="displayedCollection2" st-safe-src="aumrep" class="table table-bordered table-striped table-responsive" style="width: 100%"> 
				<thead>
					<tr>
		              <th class="bg-info text-white" ng-repeat="head in headaum" st-sort="{{head}}" st-skip-natural="true">
		                {{head}}
		              </th>
		            </tr>

		            <tr>
		              <th ng-repeat="head in headaum">
		                <input st-search="{{head}}"  class="input-sm form-ctrl" type="text" value="" ng-value=""/>
		              </th>
		            </tr>

					<!-- <tr class="bg-info text-white text-center">
						<th st-sort='AMC'>AMC</th>
						<th st-sort='InvestedAmt' st-sort-default='true'>Invested Amount</th>
						<th st-sort='Valuation'>Valuation</th>
					</tr> -->

					<!-- <tr>
						<th><input st-search="AMC" class="input-sm form-ctrl" type="text"/></th>
						<th><input st-search="amount" class="input-sm form-ctrl" type="text"/></th>
						<th><input st-search="newamount" class="input-sm form-ctrl" type="text"/></th>  
					</tr> -->
				</thead>
				<tbody style="font-size: 12px;">
					<tr class="text-center" ng-repeat="(x,y) in displayedCollection2">
						<td>{{y['AMC']}} {{y.SchemeName}} {{y.Category}}</td>
						<td>{{y.amount}}</td>
						<td>{{y.newamount}}</td>
					</tr>
				</tbody>
				<tfoot>

					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="50" st-displayed-pages="10"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>


		<div id="section3" ng-show="section3">

			<table style="margin-top:30px" st-set-filter="customFilter" st-table="displayedCollection" st-safe-src="daywisereport" class="table table-bordered table-striped table-responsive" style="width: 100%"> 
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th><strong>{{calctotalamtarr.total}}</strong></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th ng-show="pnl"><strong>{{calctotalamtarr.total2}}</strong></th>
						<th></th>
					</tr>
					<tr class="bg-info text-white">
						<th st-sort='Family'>Family</th>
						<th st-sort='UCC' st-sort-default='true'>UCC</th>
						<th st-sort='Category'>Category</th>
						<th st-sort='SchemeCode'>SchemeCode</th>
						<th st-sort='SchemeName'>SchemeName</th>
						<th st-sort='Folio'>Folio</th>
						<th st-sort='Amount'>Amount</th>
						<th st-sort='Units'>Units</th>
						<th st-sort='NAV'>NAV</th>
						<th st-sort='OrderNo'>OrderNO</th>
						<th st-sort='Date'>Date</th>
						<th st-sort='pnl' ng-show="pnl">PNL</th>
						<th st-sort='Comments'>Comments</th>
					</tr>

					<tr>
						<th><input st-search="Family" class="input-sm form-ctrl" type="text" ng-model="calctotalamtarr.family" ng-change="calctotalamt('Family','daywisereport')" /></th>
						<th><input st-search="UCC" class="input-sm form-ctrl" type="text" ng-model="calctotalamtarr.ucc" ng-change="calctotalamt('UCC','daywisereport')"/></th>
						<th><input st-search="Category" class="input-sm form-ctrl" type="text" /></th>
						<th><input st-search="SchemeCode" class="input-sm form-ctrl" type="text"/></th>
						<th><input st-search="SchemeName" class="input-sm form-ctrl" type="text" ng-model="calctotalamtarr.sname" ng-change="calctotalamt('SchemeName','daywisereport')"/></th>
						<th><input st-search="Folio" class="input-sm form-ctrl" type="text"/></th>
						<th><input st-search="Amount" class="input-sm form-ctrl" type="text"/></th>
						<th><input st-search="Units" class="input-sm form-ctrl" type="text"/></th>
						<th><input st-search="NAV" class="input-sm form-ctrl" type="text"/></th>
						<th><input st-search="OrderNo" class="input-sm form-ctrl" type="text"/></th>
						<th><input st-search="Date" class="input-sm form-ctrl" type="text"/></th>
						<th ng-show="pnl"><input st-search="pnl" class="input-sm form-ctrl" type="text"/></th>
						<th><input st-search="Comments" class="input-sm form-ctrl" type="text"/></th>
						<th></th>
						<th></th>   
					</tr>
				</thead>
				<tbody style="font-size: 12px;">
					<tr ng-repeat="(x,rec) in displayedCollection" ng-class="{ 'title' : rec['liquid'] == true }">
						<td width="2% !important">{{rec['Family']}}</td>
						<td width="8%">{{rec['UCC']}}</td>
						<td width="20%">{{rec['Category']}}</td>
						<td>{{rec['SchemeCode']}}</td>
						<td width="20%">{{rec['SchemeName']}}</td>
						<td>{{rec['Folio']}}</td>
						<td class="text-center">{{rec['Amount']}}</td>
						<td>{{rec['Units']}}</td>
						<td>{{rec['NAV']}}</td>
						<td>{{rec['OrderNo']}}</td>
						<td>{{rec['Date']}}</td>
						<td ng-show="pnl" class="text-center">{{rec['pnl']}}</td>
						<td>{{rec['Comments']}}</td>
					</tr>
				</tbody>
				<tfoot>

					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="50" st-displayed-pages="10"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>